# Ignore everything
**

# Allow files and directories
!/Gemfile*
!/target/universal/stage
!/docs
!/doc_generation
!/scripts

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/.DS_Store
