/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/vendor
/docs/tests/target/
.idea
.DS_Store
.bundle/
.yardoc/
rubocop-doc.yml
*.swo
*.swp
.metals
.bloop
.vscode
bin/

#Ignore vscode AI rules
.github/copilot-instructions.md
