/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/vendor
/doc/
/src/main/resources/docs/tests/target/
.idea
.DS_Store
.bundle/
.yardoc/
rubocop-doc.yml
*.swo
*.swp
.metals
.bloop
